.btn-group{
	.select{
    	position:relative;
  
    	input:checked + label {
      		background-color: #bcc2c7;
      		&:hover,
      		&:focus,
      		&:active{
        		background-color: #bcc2c7;      
      		}
  		}  
  		input{
      		opacity: 0;
      		position: absolute;
    	}
 		.button_select{
    		margin: 0 10px 10px 0;
    		display:flex;
  		}
	}
}