{% load static %}
<html>
    <head>
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    	<link href="{% static 'css/ThothETL.css' %}" rel="stylesheet">
    	
    	<script>
	    	var myModal = document.getElementById('myModal')
	    	var myInput = document.getElementById('myInput')
	
	    	myModal.addEventListener('shown.bs.modal', function () {
	    	  myInput.focus()
	    	})
    	</script>
    </head>
    <body>
    	<h1>Selecione o que deve aparecer no seu DataSet:</h1>
    	{%if matriz %}
   		<form method="post">
   		{% csrf_token %}
   			<div class="container">
   			{% for item in matriz %}
   				<h2>{{ item.0 }}</h2>
        		<div class="row  col-12 btn-group">
        		{% for coluna in item.1 %}
        			<div class="col-3 select">
        				<input type="checkbox" id="{{item.0}}_{{coluna}}" name="{{item.0}}" value="{{coluna}}">
	       				<label class="btn btn-secondary button_select" for="{{item.0}}_{{coluna}}">
	       					{{coluna}}
	       				</label>
					</div>
				{% endfor %}
				</div>
			<input type="checkbox" id="{{item.0}}" name="tabelas" value="{{item.0}}" checked hidden>
			{% endfor %}
			<input type="text" id="controle" name="controle" value="True" hidden>
			<button class="btn btn-dark">Enviar</button>
			</div>
   		</form>	
    	{% endif %}
    	{% if controle %}
    	<table>
			<tr>
    		{% for col in dataframe.columns %}
      			<td>
        			{{col}}
      			</td>
    		{% endfor %}
  			</tr>
    		{% for index, row in dataframe.iterrows %}
      		<tr>
        		{% for cell in row %}
          		<td>
            		{{cell}}
          		</td>
        		{% endfor %}
      		</tr>
    		{% endfor %}
		</table>	
    	{% endif %}
    	
    	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
    	
    	
    	<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </body>
</html>