{% load static %}
<html>
    <head>
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    	<link href="{% static 'css/ThothETL.css' %}" rel="stylesheet">
    	
    	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    	<script src="{% static 'js/ThothETL.js' %}"></script>
    	<script>
    	{% if controle %}
		$(document).ready(function(){
    		let banco = {{controle.0}};
    		
    		if (banco == "0"){
    			$("#banco_titulo").text("MongoDB");	
    		}else if (banco == "1"){
    			$("#banco_titulo").text("MySQL");
    		}else{
    			$("#banco_titulo").text("PostgreSQL");
    		}
    	});
		function tabelas_modal(){
			var tabelas = document.querySelector('.tabelas_checkbox').checked;
			
			alert(tabelas);
		}
		{% endif %}
    	$(function () {
    		$('[data-toggle="tooltip"]').tooltip()
    	})
    	</script>
    </head>
    <body>
        <h1>Teste</h1>
        <form role="form" method="post">
        {% csrf_token %}
        	<label for="tipo">Tipo de Banco de dados: </label>
        	<select name="tipo" id="tipo">
        		<option value=0>MongoDB</option>
        		<option value=1>MySQL</option>
        		<option value=2>PostgreSQL</option>
        	</select>
        	<label for="servidor">Servidor: </label>
        	<input type="text" name="servidor" id="servidor" placeholder="Servidor">
        	<label for="banco">Banco: </label>
        	<input type="text" name="banco" id="banco" placeholder="Banco">
        	<label for="usuario">Usuário: </label>
        	<input type="text" name="usuario" id="usuario" placeholder="Usuário">
        	<label for="senha">Senha: </label>
        	<input type="password" name="senha" id="senha" placeholder="Senha">
        	<label for="porta">Porta: </label>
        	<input type="text" name="porta" id="porta" placeholder="Porta">
        	<button class="btn btn-primary" type="submit">Enviar</button>
        </form>
        {% if status %}
        <h2>{{ status }}</h2>
        {% endif %} 
        {% if controle %}
        <h2>Tabelas do Banco <span id="banco_titulo">{{controle.0}}</span> {{controle.1}}:</h2>
        <br>
        <form role="form" action="/campos" method="post">
        {% csrf_token %}
	       	<div class="container">
	        	<div class="row  col-12 btn-group">
	        	{% if tabelas %}
	        	{% for item in tabelas %}
	       			<div class="col-3 select">
		       			<input type="checkbox" class="tabelas_checkbox" id="{{item.0}}" name="tabelas" value="{{item.0}}">
		       			<label class="btn btn-secondary button_select" for="{{item.0}}" data-toggle="tooltip" data-html="true" title="{%for aux in item.1 %}{{aux}}{% if not forloop.last %}, {% endif %}{% endfor %}">
		       				{{item.0}}
		       			</label>
					</div>
				{% endfor %}
	        	{% endif %}
           		</div>
	       		<div class="row btn-group">
	       			<div class="col-3 select">
		       			<button class="btn btn-dark">Enviar</button>
		       		</div>	
	       		</div>
	       	</div>
		</form>
		{% endif %}
	</body>
</html>